*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr
}

.sidebar {
    background-color: #008AD8;
    grid-row: 1 / 3;
}

.header {
    background-color: white;
}

.main-content {
    background-color: rgb(228, 239, 245);
}